<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/about' | prepend: site.url }}">About</a></li>
          <li><a href="{{ site.baseurl }}/">Posts</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        <a href="https://github.com/smendoza787">Github</a>
        <a href="https://twitter.com/swergi0">Twitter</a>
        <a href="https://linkedin.com/in/slmendoza">LinkedIn</a>
      </span>
    </footer>
  </body>
</html>
